body{
    background: rgba(22, 41, 47);

}
.box-body{
    background: #0E1C21;
    color: #fff;
}

.btn{
    background: transparent;
    border: 1px solid #0DB8DE;
    letter-spacing: 2px;
}


.form-group{
    color: grey;
}


.container a{
    color: #0DB8DE;
}

a:hover{
    color: white;
    transition: 0.1s;
}


h4{
    letter-spacing: 2px;
}
input[type=text] {
    background-color: #0E1C21;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #0E1C21;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

input[type=email] {
    background-color: #0E1C21;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}