section.graficasHome{	
    width: 100%;	
    padding: 2em;	
    display: block;	
  }	
  section.graficasHome h2{	
    padding: 1em;	
    background-color: #2979b1;	
    border-bottom: 5px solid #000000;	
    color: #fff;	
    font-size: 3em;	
  }	
  section.graficasHome div.porHabitacion, div.porPersona{	
    display: block;	
  }	
  section.graficasHome div.porHabitacion h3, div.porPersona h3{	
    padding: 1em;	
    color: rgb(0, 0, 0);	
  }	
  section.graficasHome div.porHabitacion div, div.porPersona div{	
    display: flex;	
    justify-content: center;	
  }	
  section.graficasHome div.porHabitacion div img, div.porPersona div img{	
    padding: 0em 3em;	
  }	
  
  section.graficasHome2{	
    width: 100%;	
    padding: 2em;	
    display: block;	
  }	
  section.graficasHome2 h2{	
    padding: 1em;	
    background-color: #2979b1;	
    border-bottom: 5px solid #000000;	
    color: #fff;	
    font-size: 3em;	
  }	
  section.graficasHome2 div{	
    display: flex;	
    justify-content: center;	
  }	
  section.graficasHome2 div img{	
    padding: 0em 3em;	
  }