:root{
    --color1: rgb(219, 144, .5);
    --color2: rgba(23, 180, 83,.0788);
    --color3: rgba(11,194,211, 0.623);
    --fondo: #f2f2f2;
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido: 45px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
    background-color: #495057;
}


/* Header */
header{
    width: 100%;
    height: 100px;    
    
}  

nav{
  width: 100%;
  position: ;
  box-shadow: 0 0 10px 0  rgba(0, 0, 0, .5);
}

.nav1{
  background-color: #c7bf54;
  height: 85px;
  color: rgb(104, 7, 7);
}


.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: inherit;
  overflow: hidden;
}

nav .enlaces a{
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
}


nav .enlaces a:hover{
  border-bottom: 1px solid #1498a4;
  transition: 0.6s;
}

.logo, .logo img{ 
  height:80px;
}

.icono{
  display:none;
  font-size: 24px;
  padding: 23.5px 20px;
}

.textos{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  overflow: hidden;
  text-align: center;
}

.textos h1{
  font-size: 80px;
}

.textos h2{
  font-size: 80px;
  font-weight: 300;
}

section.graficasHome{
  width: 100%;
  padding: 2em;
  display: block;
}
section.graficasHome h2{
  padding: 1em;
  background-color: #2979b1;
  border-bottom: 5px solid #000000;
  color: #fff;
  font-size: 3em;
}
section.graficasHome div.porHabitacion, div.porPersona{
  display: block;
}
section.graficasHome div.porHabitacion h3, div.porPersona h3{
  padding: 1em;
  color: rgb(0, 0, 0);
}
section.graficasHome div.porHabitacion div, div.porPersona div{
  display: flex;
  justify-content: center;
}
section.graficasHome div.porHabitacion div img, div.porPersona div img{
  padding: 0em 3em;
}

section.graficasHome2{
  width: 100%;
  padding: 2em;
  display: block;
}
section.graficasHome2 h2{
  padding: 1em;
  background-color: #2979b1;
  border-bottom: 5px solid #000000;
  color: #fff;
  font-size: 3em;
}
section.graficasHome2 div{
  display: flex;
  justify-content: center;
}
section.graficasHome2 div img{
  padding: 0em 3em;
}

section.infoHoteles, section.infoLugaresTuristicos, section.infoVisualizaciones{
  width: 100%;
  padding: 2em;
  display: block;
}
div.tituloInfo h2{
  padding: 1em;
  background-color: #2979b1;
  border-bottom: 5px solid #000000;
  color: #fff;
  font-size: 3em;
}
section.infoHoteles div.informacion_hoteles{
  display: flex;
  justify-content: center;
}
section.infoHoteles div.informacion_hoteles div{
  padding: 1em 2em;
}
section.infoVisualizaciones div.imagesRepresentativas{
  text-align: center;
  padding: 2em;
}
section.infoVisualizaciones div.imagesRepresentativas a{
  padding: 3em;
}
section.infoVisualizaciones div.imagesRepresentativas a img{
  width: 15%;
  padding: 2em;
}


footer {
	background-color:#1A1A1A;
	height: 50%;
  color: white;
  padding: 15px;
}

.main1 { 
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #fff;
}

@media screen and (max-height: 820px){
  header{
    width: 100%;
    height: 750px;       
  } 
}

@media screen and (max-width: 720px){
  .icono{
    display: block;
    cursor: pointer;
  }

  .enlaces{
    position: fixed;
    top: 85px;
    background: #2C3E50;
    right: 0;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow: hidden;
  }

  .enlaces a{
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
    background: #34495E;
    color: #fff;
  }

  .textos h1{
    font-size: 60px;}
  .textos h2{
    font-size: 30px;}

  .marca-logo{
    width: 18%;
    margin: auto;
  }
    
}