body{
    font-family: 'Lato', sans-serif;
    background: #fff;
}
header.cabeceraPrincipal{
    background-color: #26b5b7;
    display: flex;
    text-align: center;
    border-bottom: 5px solid #000000;
}
header.cabeceraPrincipal div{
    display: block;
    width: 50%;
}
header.cabeceraPrincipal div img{
    width: 10%;
    display: inline-block;
}
header.cabeceraPrincipal div h1{
    font-size: 40px;
    color: #fff;
}
header.cabeceraPrincipal nav{
    display: flex;
    width: 50%;
}
header.cabeceraPrincipal nav a{
    display: block;
    text-decoration: none;
    color: #0b1c39;
    padding: 50px 40px 0px;
}
header.cabeceraPrincipal nav a img{
    width: 30px;
}
header.cabeceraPrincipal nav a p{
    font-size: 20px;
    color: #fff;
    padding: 1em 0em;
}
header.cabeceraPrincipal nav a:hover{
    color: #007bff;
}
section.slider{
    width: 100%;
}

section.graficasHome{
    width: 100%;
    padding: 2em;
    display: block;
}
section.graficasHome h2{
    padding: 1em;
    background-color: #2979b1;
    border-bottom: 5px solid #000000;
    color: #fff;
    font-size: 3em;
}
section.graficasHome div.porHabitacion, div.porPersona{
    display: block;
}
section.graficasHome div.porHabitacion h3, div.porPersona h3{
    padding: 1em;
}
section.graficasHome div.porHabitacion div, div.porPersona div{
    display: flex;
    justify-content: center;
}
section.graficasHome div.porHabitacion div img, div.porPersona div img{
    padding: 0em 3em;
}

section.graficasHome2{
    width: 100%;
    padding: 2em;
    display: block;
}
section.graficasHome2 h2{
    padding: 1em;
    background-color: #2979b1;
    border-bottom: 5px solid #000000;
    color: #fff;
    font-size: 3em;
}
section.graficasHome2 div{
    display: flex;
    justify-content: center;
}
section.graficasHome2 div img{
    padding: 0em 3em;
}

section.tituloHoteles h2{
    padding: 1em;
    text-align: center;
    background-color: #2979b1;
    border-bottom: 5px solid #000000;
    color: #fff;
    font-size: 3em;
}
section.infoHoteles{
    width: 100%;
    display: block;
    padding: 100px 100px;

}
section.infoHoteles div{
    display: flex;
    justify-content: center;

}
section.infoHoteles div article{
    padding: 1em 2em;
    width: 30%;
    display: inline-block;
    justify-content: center;
    
}
section.infoHoteles div article img{
    width: 100%;
    padding: 1em;
}
section.infoHoteles div article h3{
    text-align: center;
}
section.infoHoteles div article p{
    text-align: justify;
}

section.tituloVisualizaciones h2{
    padding: 1em;
    background-color: #2979b1;
    border-bottom: 5px solid #000000;
    color: #fff;
    font-size: 3em;
}

section.tituloTurismo h2{
    padding: 1em;
    background-color: #2979b1;
    border-bottom: 5px solid #000000;
    color: #fff;
    font-size: 3em;
}
section.infoLugaresTuristicos{
    width: 100%;
    padding: 3em;
}

section.tituloLogin h2{
    padding: 1em;
    background-color: #2979b1;
    border-bottom: 5px solid #000000;
    color: #fff;
    font-size: 3em;
}












section.ingresar{
    width: 30%;
    padding: 3em;
}


footer.piePagina{
    width: 100%;
    display: flex;
    padding: 100px 0px;
    background-color: #376780;
}
footer.piePagina div.copyright{
    text-align: center;
    width: 50%;
}
footer.piePagina div.copyright h4{
    color: #fff;
}
footer.piePagina div.redesSociales{
    display: flex;
    width: 50%;
    justify-content: center;
}
footer.piePagina div.redesSociales a{
    padding: 1em 3em;
    display: block;
}
footer.piePagina div.redesSociales a img{
    width: 40px;
}
